<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        
        <stats number=" " comments="如何使用!" colour="primary" type="graduation-cap"></stats>
        <stats number=" " comments="儀表板設定" colour="default " type="cog"></stats>
        <stats number=" " comments="舒眠模式" colour="success " type="support"></stats>
        <stats number=" " comments="客廳劇院模式" colour="info " type="support"></stats>
        <stats number="24.5" comments="室內溫度" colour="red" type="user"></stats>
        <stats number="75%" comments="室內濕度" colour="primary" type="umbrella"></stats>
        <stats number="300W" comments="本日耗電量" colour="green " type="support"></stats>
        <stats number="$20" comments="本日電費" colour="green " type="money"></stats>
        <stats number="$300" comments="累計電費" colour="red" type="money"></stats>

    </div>
    
   
</div>
