<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">客廳</h1>
        <img src="/views/room-control/picture/LivingRoom.jpg" alt="LivingRoom" style="width:400px;height:300px;">
        <h1></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <section ng-init="tab = 1">
            <ul class="nav nav-pills">
                <li ng-class="{ active:tab === 1 }">
                    <a href ng-click="tab = 1">電器控制</a></li>
                <li ng-class="{ active:tab === 2 }">
                    <a href ng-click="tab = 2">電視控制</a></li>
                <li ng-class="{ active:tab === 3 }">
                    <a href ng-click="tab = 3">冷氣控制</a></li>
            </ul>
        </section>
        <div class="panel" ng-show="tab === 1">
            <h4>電器類型</h4>
            <div class="row">
                <div class="col-md-2">
                    <a class="btn btn-large btn-success" href="">
                        <i class="fa fa-lightbulb-o fa-5x pull-left"></i>電燈A</a>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-large btn-danger" href="">
                        <i class="fa fa-lightbulb-o fa-5x pull-left"></i>電燈B</a>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
        <div class="panel" ng-show="tab === 2">
            <h4>電視控制</h4>
            <div class="row">
                <div class="col-md-2">
                    <a class="btn btn-large btn-default" href="">
                        <i class="fa fa-lightbulb-o fa-5x pull-left"></i>增加音量</a>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-large btn-default" href="">
                        <i class="fa fa-lightbulb-o fa-5x pull-left"></i>減低音量</a>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
        <div class="panel" ng-show="tab === 3">
            <h4>冷氣控制</h4>
            <div class="row">
                <div class="col-md-2">
                    <a class="btn btn-large btn-default" href="#">
                        <i class="fa fa-lightbulb-o fa-5x pull-left"></i>開關</a>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-large btn-default" href="#">
                        <i class="fa fa-lightbulb-o fa-5x pull-left"></i>增加溫度</a>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-large btn-default" href="#">
                        <i class="fa fa-lightbulb-o fa-5x pull-left"></i>減低溫度</a>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
</div>
